client/*
docks/*
node/*
pallets/*
primitives/*
runtime/*
scripts/*
docs/*
target/release/build/*
target/release/deps/*
target/release/examples/*
target/release/incremental/*
target/release/*.d
target/release/*.rlib
target/release/wbuild/*
target/release/.fingerprint/*
target/debug/*
target/tests/*
target/tmp/*
.cargo/*
