[package]
name = 'peaq-node'
version = '3.0.0-polkadot-v0.9.19'
description = 'A node of the peaq network.'
authors = ['peaq network <https://github.com/peaqnetwork>']
homepage = 'https://peaq.network/'
edition = '2021'
license = 'Unlicense'
publish = false
repository = 'https://github.com/peaqnetwork/peaq-network-node/'
build = 'build.rs'

[[bin]]
name = 'peaq-node'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies.codec]
package = 'parity-scale-codec'
version = '3.0.0'

[build-dependencies.substrate-build-script-utils]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.peaq-dev-runtime]
path = '../runtime/peaq-dev'
version = '3.0.0-polkadot-v0.9.19'
default-features = false

[dependencies]
structopt = "0.3.8"
async-trait = "0.1"
jsonrpc-pubsub = "18.0.0"
futures = { version = "0.3.1", features = [ "compat" ] }
log = "0.4.8"
clap = { version = "3.1", features = [ "derive" ] }
jsonrpc-core = '18.0.0'
url = "2.2.2"
serde = { version = "1.0", features = [ "derive" ] }

[dependencies.frame-benchmarking]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.frame-benchmarking-cli]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.pallet-transaction-payment-rpc]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-basic-authorship]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-cli]
features = ['wasmtime']
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-client-api]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-consensus]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-consensus-aura]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-executor]
features = ['wasmtime']
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-finality-grandpa]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-keystore]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-rpc]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-rpc-api]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-service]
features = ['wasmtime']
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-telemetry]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-transaction-pool]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-transaction-pool-api]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sp-api]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sp-block-builder]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sp-blockchain]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sp-consensus]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sp-consensus-aura]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sp-core]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sp-finality-grandpa]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sp-runtime]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sp-timestamp]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.substrate-frame-rpc-system]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sp-inherents]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'


[dependencies.pallet-contracts]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.pallet-contracts-rpc]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.sc-network]
git = 'https://github.com/peaqnetwork/substrate'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.hex-literal]
version = '0.3.3'


# EVM
[dependencies.fc-consensus]
git = "https://github.com/peaqnetwork/frontier"
branch = 'peaq-polkadot-v0.9.19'

[dependencies.fc-db]
git = "https://github.com/peaqnetwork/frontier"
branch = 'peaq-polkadot-v0.9.19'

[dependencies.fc-mapping-sync]
git = "https://github.com/peaqnetwork/frontier"
branch = 'peaq-polkadot-v0.9.19'

[dependencies.fc-rpc]
git = "https://github.com/peaqnetwork/frontier"
branch = 'peaq-polkadot-v0.9.19'
features = [ "rpc_binary_search_estimate" ]

[dependencies.fc-rpc-core]
git = "https://github.com/peaqnetwork/frontier"
branch = 'peaq-polkadot-v0.9.19'

[dependencies.fp-consensus]
git = "https://github.com/peaqnetwork/frontier"
branch = 'peaq-polkadot-v0.9.19'

[dependencies.fp-storage]
git = "https://github.com/peaqnetwork/frontier"
branch = 'peaq-polkadot-v0.9.19'

[dependencies.fp-rpc]
git = "https://github.com/peaqnetwork/frontier"
branch = 'peaq-polkadot-v0.9.19'

[dependencies.pallet-base-fee]
default-features = false
git = 'https://github.com/peaqnetwork/frontier'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.pallet-dynamic-fee]
default-features = false
git = 'https://github.com/peaqnetwork/frontier'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.pallet-ethereum]
default-features = false
git = 'https://github.com/peaqnetwork/frontier'
branch = 'peaq-polkadot-v0.9.19'

[dependencies.pallet-evm]
default-features = false
git = 'https://github.com/peaqnetwork/frontier'
branch = 'peaq-polkadot-v0.9.19'


[dependencies.sc-consensus-manual-seal]
default-features = false
git = 'https://github.com/peaqnetwork/substrate'
branch = "peaq-polkadot-v0.9.19"


# Tracing
[dependencies.peaq-primitives-ext]
path = '../primitives/ext'

[dependencies.peaq-rpc-debug]
path = '../client/rpc/debug'

[dependencies.peaq-rpc-primitives-debug]
path = '../primitives/rpc/debug'

[dependencies.peaq-rpc-primitives-txpool]
path = '../primitives/rpc/txpool'

[dependencies.peaq-rpc-trace]
path = '../client/rpc/trace'

[dependencies.peaq-rpc-txpool]
path = '../client/rpc/txpool'

[dependencies.tokio]
version = "1.13.0"
features = [ "macros", "sync" ]


## Parachain
[dependencies.sc-tracing]
git = "https://github.com/peaqnetwork/substrate"
branch = "peaq-polkadot-v0.9.19"

[dependencies.cumulus-client-cli]
git = "https://github.com/peaqnetwork/cumulus"
branch = "peaq-polkadot-v0.9.19"

[dependencies.cumulus-client-network]
git = "https://github.com/peaqnetwork/cumulus"
branch = "peaq-polkadot-v0.9.19"

[dependencies.cumulus-client-service]
git = "https://github.com/peaqnetwork/cumulus"
branch = "peaq-polkadot-v0.9.19"

[dependencies.cumulus-client-consensus-aura]
git = "https://github.com/peaqnetwork/cumulus"
branch = "peaq-polkadot-v0.9.19"

[dependencies.cumulus-client-consensus-common]
git = "https://github.com/peaqnetwork/cumulus"
branch = "peaq-polkadot-v0.9.19"

[dependencies.cumulus-client-consensus-relay-chain]
git = "https://github.com/peaqnetwork/cumulus"
branch = "peaq-polkadot-v0.9.19"

[dependencies.cumulus-relay-chain-interface]
git = "https://github.com/peaqnetwork/cumulus"
branch = "peaq-polkadot-v0.9.19"

[dependencies.cumulus-relay-chain-inprocess-interface]
git = "https://github.com/peaqnetwork/cumulus"
branch = "peaq-polkadot-v0.9.19"

[dependencies.cumulus-relay-chain-rpc-interface]
git = "https://github.com/peaqnetwork/cumulus"
branch = "peaq-polkadot-v0.9.19"

[dependencies.cumulus-primitives-core]
git = "https://github.com/peaqnetwork/cumulus"
branch = "peaq-polkadot-v0.9.19"

[dependencies.cumulus-primitives-parachain-inherent]
git = "https://github.com/peaqnetwork/cumulus"
branch = "peaq-polkadot-v0.9.19"

[dependencies.substrate-prometheus-endpoint]
git = "https://github.com/peaqnetwork/substrate"
branch = "peaq-polkadot-v0.9.19"

# polkadot dependencies
[dependencies.polkadot-primitives]
git = "https://github.com/peaqnetwork/polkadot"
branch = "peaq-polkadot-v0.9.19"

[dependencies.polkadot-parachain]
git = "https://github.com/peaqnetwork/polkadot"
branch = "peaq-polkadot-v0.9.19"

[dependencies.polkadot-service]
git = "https://github.com/peaqnetwork/polkadot"
branch = "peaq-polkadot-v0.9.19"

[dependencies.polkadot-cli]
git = "https://github.com/peaqnetwork/polkadot"
branch = "peaq-polkadot-v0.9.19"
optional = true

[dependencies.sp-session]
git = "https://github.com/peaqnetwork/substrate"
branch = "peaq-polkadot-v0.9.19"

[dependencies.sp-keystore]
git = "https://github.com/peaqnetwork/substrate"
branch = "peaq-polkadot-v0.9.19"

[dependencies.sp-transaction-pool]
git = "https://github.com/peaqnetwork/substrate"
branch = "peaq-polkadot-v0.9.19"

[dependencies.sp-offchain]
git = "https://github.com/peaqnetwork/substrate"
branch = "peaq-polkadot-v0.9.19"

[dependencies.sc-chain-spec]
git = "https://github.com/peaqnetwork/substrate"
branch = "peaq-polkadot-v0.9.19"


# peaq-rpc-debug = { path = "../../client/rpc/debug" }
# peaq-rpc-primitives-debug = { path = "../../primitives/rpc/debug" }
# peaq-rpc-primitives-txpool = { path = "../../primitives/rpc/txpool" }
# peaq-rpc-trace = { path = "../../client/rpc/trace" }
# peaq-rpc-txpool = { path = "../../client/rpc/txpool" }

[features]
default = [
	"aura",
	"polkadot-cli"
	]
aura = ["peaq-dev-runtime/aura"]
manual-seal = ["peaq-dev-runtime/manual-seal"]
runtime-benchmarks = [
	"peaq-dev-runtime/runtime-benchmarks",
	"polkadot-cli/runtime-benchmarks"
]
